@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: "GEORGIA", "Arial", sans-serif;
    background-image: url(https://ozone686.github.io/FM-s-Progect/img/mainback.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

h1,h2,h3,h4 {
    font-family: "Orbitron", sans-serif;
}

a {
    text-decoration: none;
    color: goldenrod;
}


.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.page > header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    /*border: 2px solid goldenrod;*/
    box-shadow: 0 0 15px 2px goldenrod;
    text-shadow: -3px 3px 5px rgb(218 165 32);
    border-radius: 10px;
    margin: 70px auto 50px auto;
    padding: 15px;
}

.page > header > h1 {
    font-size: 3rem;
    color: goldenrod;
    font-weight: bold;
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    padding: 20px 10px;
    width: 60%;
    text-align: center;
}

@keyframes def-wp-icon-animation {
    from {
        transform: rotate(0) scale(.5);
        opacity: 0;
    }

    50% {
        transform: rotate(-180deg) scale(.5);
        opacity: 1;
    }

    60% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }

    70% {
        transform: rotate(0) scale(1.1);
        opacity: 1;
    }

    80% {
        Transform: rotate(0) scale(1);
        opacity: 1;
    }

    90% {
        transform: rotate(0) scale(1.1);
        opacity: 1;
    }

    to {
        transform: rotate(0) scale(1);
    }
}

.weapon-animation .weapon-icon {
    animation-name: def-wp-icon-animation;
    animation-duration: 3s;
}

.weapon-icon {
    width: 5rem;
    height: 5rem;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}
.weapon-icon + .weapon-icon {
    margin-left: 10px;
}

.df-rocket {
    background-image: url("https://ozone686.github.io/FM-s-Progect/img/rocket.png");
}

.df-bfg {
    background-image: url("https://ozone686.github.io/FM-s-Progect/img/BFG.png");
}

.df-plasma {
    background-image: url("https://ozone686.github.io/FM-s-Progect/img/Plasma.png");
}

.df-grenade {
    background-image: url("https://ozone686.github.io/FM-s-Progect/img/Grenade.png");
}

.page > main {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px goldenrod;
    /*border: ;*/
}

nav.mainNav {
    display: flex;
    flex-flow: row wrap;
}

nav.mainNav a {
    font-family: 'Orbitron', "GEORGIA", "Arial", sans-serif;
    flex-basis: 50%;
    font-size: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;

    color: orangered;
    /*color: goldenrod;*/
    transition-property: font-size, text-shadow, color;
    transition-duration: .4s, 1s, .4s;
}

nav.mainNav a:hover {
    text-shadow: 2px 2px 5px black, 0 0 1em silver;
    color: silver;
    font-size: 4.5rem;
}

nav.mainNav a:last-child {
    flex-grow: 2;
}
